<h1> Week 3 Homework: Working with Pandas </h1>
    
Create a new IPython Notebook and use it to answer the following assignments, using what you've learned
this week. Note that the last sections for each are meant to be a little more challenging

<h2> Question 1 </h2>

<p> Load the MovieData.csv dataset into a pandas DataFrame as described in this week's lesson, and use it to
find the following values:
</p>

<h3> a. What is the median profit (in dollars instead of ratio, this time) of movies with budgets of over $50M? </h3>

In [1]:
import pandas

In [2]:
import datetime as dt
def make_date(date_str):
    '''
    Turn a MM/DD/YY string into a datetime object
    '''
    m, d, y = date_str.split("/")
    m = int(m)
    d = int(d)
    y = int(y)
    if y > 13:
        y += 1900
    else:
        y += 2000
    return dt.datetime(y, m, d)

In [3]:
movies = pandas.read_csv("MovieData.csv", sep='\t', na_values=["Unknown","Unkno"],parse_dates=[0], date_parser=make_date)

In [4]:
movies["Profit"] = movies["Worldwide Gross"]-movies["Budget"]

In [5]:
big_budget = movies[movies.Budget > 50000000]

In [6]:
big_budget.head()

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profit
0,2012-03-09,John Carter,NaN,300000000,66439100,254439100,-45560900
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425,960996492,660996492
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,NaN,NaN,NaN
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,NaN,NaN,NaN
4,2010-11-24,Tangled,Buena Vista,260000000,200821936,586581936,326581936

In [7]:
big_budget.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705 entries, 0 to 704
Data columns (total 7 columns):
Release_Date       705 non-null datetime64[ns]
Movie              705 non-null object
Distributor        650 non-null object
Budget             705 non-null int64
US Gross           696 non-null float64
Worldwide Gross    652 non-null float64
Profit             652 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(2)
memory usage: 44.1+ KB

In [8]:
print "The median profit for movies with a budget greater than $50M is ", big_budget["Profit"].median()

The median profit for movies with a budget greater than $50M is  102085318.0

<h3> b. What are the mean and median movie profits by decade? Which decade was the most profitable? </h3>

In [9]:
def get_year(date):
    return date.year
movies["Year"] = movies.Release_Date.apply(get_year)

In [10]:
import math
def get_decade(year):
    century = year/100
    decade = int((math.fmod(year,100))/10) * 10
    return (century*100)+decade
movies["Decade"] = movies.Year.apply(get_decade)

In [11]:
print movies.Decade.min()
print movies.Decade.max()
movies.head()

1910
2010

,Release_Date,Movie,Distributor,Budget,US Gross,Worldwide Gross,Profit,Year,Decade
0,2012-03-09,John Carter,NaN,300000000,66439100,254439100,-45560900,2012,2010
1,2007-05-25,Pirates of the Caribbean: At World's End,Buena Vista,300000000,309420425,960996492,660996492,2007,2000
2,2013-12-13,The Hobbit: There and Back Again,New Line,270000000,NaN,NaN,NaN,2013,2010
3,2012-12-14,The Hobbit: An Unexpected Journey,New Line,270000000,NaN,NaN,NaN,2012,2010
4,2010-11-24,Tangled,Buena Vista,260000000,200821936,586581936,326581936,2010,2010

In [12]:
by_decade = movies.groupby("Decade")

In [13]:
by_decade.groups.keys()

[1920, 1990, 1960, 1930, 2000, 1970, 1940, 1910, 2010, 1980, 1950]

In [14]:
decade_means = by_decade.Profit.mean()
print "The Meidan Profits by Decade are:"
print decade_median

The Meidan Profits by Decade are:

NameError: name 'decade_median' is not defined

In [15]:
print decade_means

Decade
1910      1.089000e+07
1920      1.286700e+07
1930      9.875830e+07
1940      7.866000e+06
1950               NaN
1960      7.174161e+07
1970      1.729143e+08
1980      1.678445e+08
1990      1.120926e+08
2000      6.853341e+07
2010      8.922441e+07
Name: Profit, dtype: float64

In [16]:
decade_median = by_decade.Profit.median()
print "The Meidan Profits by Decade are:"
print decade_median

The Meidan Profits by Decade are:
Decade
1910       10890000
1920       12867000
1930        3283000
1940        7866000
1950            NaN
1960       54995385
1970      132461500
1980      114167015
1990       57920866
2000       21627454
2010       28680977
Name: Profit, dtype: float64

In [17]:
most_profit = 0
for x in decade_median.keys():

    if decade_median[x] > most_profit:
        most_profit_decade = x
        most_profit = decade_median[x]
print   "The decade with the highest median profit was ", most_profit_decade, " with a median profit of ", most_profit

The decade with the highest median profit was  1970  with a median profit of  132461500.0

<h3> c. How many movies were released by each film distributor? Output the results to a csv file </h3>

In [18]:
by_distributor = movies.groupby("Distributor")

In [19]:
counts = by_distributor.Movie.aggregate(len)
print "The count of movies by distributor is :"
print counts

The count of movies by distributor is :
Distributor
20th Century Fox                   230
3D Entertainment                     1
8 X Entertainment                    1
ART                                  1
Access                               1
Alliance                             4
American International Pictures      1
Anchor Bay                           4
Apparition                           4
Artisan                             23
Artistic License                     1
Atlantic                             1
Attitude Films                       1
Avatar                               1
Avco Embassy                         5
...
Warner Bros.                   311
Warner Independent               3
Warner Independent Pictures      7
Weinstein                        1
Weinstein Ci.                    1
Weinstein Co.                   33
Weinstein/Dimension              1
Weintraub                        2
WellSpring                       2
Wellspring                       1
WinStar                          1
Winstar                          1
Yash Raj                         1
Zeitgeist                        7
Zion                             1
Name: Movie, Length: 208, dtype: int64

In [20]:
#wrting out result set to CSV
import csv
f = open("movie_distributor_counts.csv", "wb")
my_writer = csv.writer(f)
header = ["Disributor", "Film Count"]
my_writer.writerow(header)
for row in counts.keys():
    y = []
    y.append(row)
    y.append(counts[row])
    my_writer.writerow(y)
f.close()

<h2> Question 2 </h2>

Load the earthquake data in QuakeData.csv into a DataFrame, and use it to answer the following questions:

In [21]:
def make_date2(date_str):
    '''
    turn a MM/DD/YY string into a datetime object.
    '''


    y = int(date_str[0:4])
    #print y
    #print date_str[5:7]
    m = int(date_str[5:7])
    #print m
    d = int(date_str[8:10])
    #print d
    h = int (date_str[11:13])
    #print h
    mi = int (date_str[14:16])
    #print mi
    s  = int (date_str[17:19])
    return(dt.datetime(year=y, month=m, day=d, hour=h, minute=mi, second=s))

In [22]:
Quakes = pandas.read_csv("QuakeData.csv", na_values=["Unknown","Unkno"],parse_dates=[0], date_parser=make_date2)

In [23]:
Quakes.tail()

,DateTime,Latitude,Longitude,Depth,Magnitude,MagType,NbStations,Gap,Distance,RMS,Source,EventID,Version
12679,2013-01-01 15:18:35,-1.085,126.956,20.6,4.9,mb,68,58,NaN,0.87,pde,pde20130101151835300_20,1363392592259
12680,2013-01-01 16:59:29,-5.302,104.149,80.7,4.5,mb,66,113,NaN,0.89,pde,pde20130101165929760_80,1363392592269
12681,2013-01-01 17:43:57,-55.991,-24.865,42.0,5.0,mb,45,58,NaN,1.16,pde,pde20130101174357700_42,1363392592287
12682,2013-01-01 20:05:03,2.374,96.110,38.4,4.7,mb,67,111,NaN,0.73,pde,pde20130101200503100_38,1363392592413
12683,2013-01-01 23:40:40,36.613,71.460,141.4,4.0,mb,20,72,NaN,1.07,pde,pde20130101234040540_141,1363392592426

In [24]:
Quakes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12684 entries, 0 to 12683
Data columns (total 13 columns):
DateTime      12684 non-null datetime64[ns]
Latitude      12684 non-null float64
Longitude     12684 non-null float64
Depth         12676 non-null float64
Magnitude     12684 non-null float64
MagType       12684 non-null object
NbStations    12684 non-null int64
Gap           12684 non-null int64
Distance      1 non-null float64
RMS           10544 non-null float64
Source        12684 non-null object
EventID       12684 non-null object
Version       12684 non-null int64
dtypes: datetime64[ns](1), float64(6), int64(3), object(3)
memory usage: 1.4+ MB

<h3> a. What is the median earthquake magnitude? </h3>

In [25]:
print "The Median earthquake magnitude is " , Quakes.Magnitude.median()

The Median earthquake magnitude is  4.5

<h3> b. What is the correlation between magnitude and depth? </h3>

In [26]:
QuakesCorr = Quakes.corr()

In [27]:
QuakesCorr

,Latitude,Longitude,Depth,Magnitude,NbStations,Gap,Distance,RMS,Version
Latitude,1.000000,0.151126,-0.152737,-0.094021,0.169994,-0.002338,NaN,-0.059844,0.028847
Longitude,0.151126,1.000000,-0.056669,0.094502,-0.062045,-0.158388,NaN,-0.162260,-0.031297
Depth,-0.152737,-0.056669,1.000000,0.029175,0.130701,-0.132728,NaN,-0.100127,-0.014670
Magnitude,-0.094021,0.094502,0.029175,1.000000,0.703717,-0.523315,NaN,-0.012080,0.106513
NbStations,0.169994,-0.062045,0.130701,0.703717,1.000000,-0.483381,NaN,-0.080913,0.114673
Gap,-0.002338,-0.158388,-0.132728,-0.523315,-0.483381,1.000000,NaN,-0.010979,-0.030786
Distance,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
RMS,-0.059844,-0.162260,-0.100127,-0.012080,-0.080913,-0.010979,NaN,1.000000,0.018472
Version,0.028847,-0.031297,-0.014670,0.106513,0.114673,-0.030786,NaN,0.018472,1.000000

In [28]:
print "The Correlation Between Magnitude and Depth is ", QuakesCorr["Magnitude"]["Depth"]

The Correlation Between Magnitude and Depth is  0.02917515916

<h3> c. What fraction (not count) of earthquakes happen each month (across all years)? Do some months
have significantly more or fewer quakes than others? </h3>

In [29]:
def get_month(date):
    return date.month
Quakes["Month"] = Quakes.DateTime.apply(get_month)

In [30]:
by_months = Quakes.groupby("Month")

In [31]:
x = by_months.count()

In [32]:
all_quake_cnt = x["Magnitude"].sum()

x["QuakePercent"] = x["Magnitude"]/all_quake_cnt

In [33]:
QuakeByMonthPercents = x["QuakePercent"]
print "The Quake Percentages by Month are : " , QuakeByMonthPercents

The Quake Percentages by Month are :  Month
1        0.080732
2        0.085225
3        0.090271
4        0.109823
5        0.083412
6        0.070956
7        0.069536
8        0.080574
9        0.089246
10       0.082860
11       0.078524
12       0.078839
Name: QuakePercent, dtype: float64

In [34]:
average_monthly_quakes = QuakeByMonthPercents.mean()
std_monthly_quakes = QuakeByMonthPercents.std()


big_quake_cnt = 0
for i in QuakeByMonthPercents:
    if (i > (average_monthly_quakes + 3*std_monthly_quakes)) or (i < (average_monthly_quakes - 3*std_monthly_quakes)):
        print "big quake" , i
        big_quake_cnt += 1
print "There were " , big_quake_cnt , " quakes greater than 3 standard deviations compared to the monthly average"

There were  0  quakes greater than 3 standard deviations compared to the monthly average