In [1]:
import cx_Oracle

In [4]:
con = cx_Oracle.connect('paul/balder*05@prod_db')
print (con.version)
cur = con.cursor()
cur.execute('select * from employees order by employee_id')
for result in cur:
    print (result)
cur.close()
con.close()

11.2.0.4.0
(1, datetime.datetime(2014, 10, 1, 0, 0), 'Paul Olsztyn', 1)
(2, datetime.datetime(2013, 12, 1, 0, 0), 'Brian Williams', 2)

In [6]:
print (result)

(2, datetime.datetime(2013, 12, 1, 0, 0), 'Brian Williams', 2)

In [7]:
type(result)

tuple