<h1>Python Identifiers</h1>

<p>
A Python identifier is a name used to identify a variable, function, class, module or other object. An identifier starts with a letter A to Z or a to z or an underscore (_) followed by zero or more letters, underscores and digits (0 to 9).</p>

<p>
Python does not allow punctuation characters such as @, $, and % within identifiers. Python is a case sensitive programming language. Thus, Manpower and manpower are two different identifiers in Python.
</p>

<p>
Here are naming conventions for Python identifiers −
</p>

<list>
<li>
Class names start with an uppercase letter. All other identifiers start with a lowercase letter.
</li>
<li>
Starting an identifier with a single leading underscore indicates that the identifier is private.
</li>
<li>
Starting an identifier with two leading underscores indicates a strongly private identifier.
</li>
<li>
If the identifier also ends with two trailing underscores, the identifier is a language-defined special name.
</li>
</list>

<hr style="height:2px;color:blue">

<h1>Reserved Words</h1>

<p>The following list shows the Python keywords. These are reserved words and you cannot use them as constant or variable or any other identifier names. All the Python keywords contain lowercase letters only.</p>

<table>
<tr><td>and</td><td>exec</td><td>not</td></tr>
<tr><td>assert</td><td>finally</td><td>or</td></tr>
<tr><td>break</td><td>for</td><td>pass</td></tr>
<tr><td>class</td><td>from</td><td>print</td></tr>
<tr><td>continue</td><td>global</td><td>raise</td></tr>
<tr><td>def</td><td>if</td><td>return</td></tr>
<tr><td>del</td><td>import</td><td>try</td></tr>
<tr><td>elif</td><td>in</td><td>while</td></tr>
<tr><td>else</td><td>is</td><td>with</td></tr>
<tr><td>except</td><td>lambda</td><td>yield</td></tr>

</table>

<hr style="height:2px;color:blue">

<h1>Lines and Indentation</h1>

<p>Python provides no braces to indicate blocks of code for class and function definitions or flow control. Blocks of code are denoted by line indentation, which is rigidly enforced.</p>

<p>
The number of spaces in the indentation is variable, but all statements within the block must be indented the same amount. For example −
</p>

In [190]:
if True:
   print "True"
else:
   print "False"

True

However, the following block generates an error −

In [191]:
if True:
print "Answer"
print "True"
else:
print "Answer"
print "False"

IndentationError: expected an indented block (<ipython-input-191-d606b8800b57>, line 2)

<hr style="height:2px;color:blue">

<h1> Multi-Line Statements </h1>

<p>
Statements in Python typically end with a new line. Python does, however, allow the use of the line continuation character (<b><mark style="color:BLUE"> \\ </mark></b>) to denote that the line should continue. For example −<p>

In [198]:
item_one = 1
item_two = 2
item_three = 3
total = item_one + \
        item_two + \
        item_three
print total

6

<p>Statements contained within the [], {}, or () brackets do not need to use the line continuation character. For example − </p>

In [196]:
days = ['Monday', 'Tuesday', 'Wednesday',
        'Thursday', 'Friday']
print days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

<hr style="height:2px;color:blue">
<h1>Comments in Python </h1>

<p>A hash sign <b><mark style="color:BLUE">(#)</mark></b> that is not inside a string literal begins a comment. All characters after the # and up to the end of the physical line are part of the comment and the Python interpreter ignores them.<p>

In [200]:
#!/usr/bin/python

# First comment
print "Hello, Python!" # second comment, note you can put comment at end of statment line

Hello, Python!

<hr style="height:2px;color:blue">
<h1>Multiple Statements on a Single Line </h1>

<p>The semicolon <b><mark style="color:BLUE">( ; )</mark></b>  allows multiple statements on the single line given that neither statement starts a new code block. Here is a sample snip using the semicolon −</p>

In [201]:
x=1 ; y=2 ; z=3  # semi colon separates statements on single line
print x,y,z

1 2 3

<hr style="height:2px;color:blue">
<H1>Variables</H1>

<p>A variable is just a chunk of data you've given a name, so that you can refer to it later. </p>

<p>A variable might refer to a singlenumber or some text, or to a massive table with many rows and columns.</p>
<h2> Creating Variables </h2>
<p>For the most part, you don't need to declare a variable in advance the way you do in many other languages; you just
start using it. For example:</p>

In [55]:
a = 5 # Create a variable called 'a' and assign the number 5 to it.

In [56]:
print a # Output the value of a

5

-- ipyton notes:

Notice that variables carry over from cell to cell in the Notebook. 

Even though you're running the cells one at a time, all the data created in the notebook you're using is being held in memory. 

*Variables don't carry over between notebooks, or between sessions*

In [57]:
print a * 2  # Multiply a by 2, and output the result

10

In [58]:
b =  a + 5 # Create a new variable 'b', and set it to a+5.

In [59]:
a = 7 # Change a's value to 7.

In [60]:
print a, b # Output the values of variables a and b

7 10

<b> *Note. b's value has been set, and doesn't depend on a anymore.* </b>

Notice the comma in the print command. You can string together multiple things to print on the same line, separated by
a comma.

<h2>Deleting a variable </h2>

<p> You can also delete the reference to a number object by using the del statement. The syntax of the del statement is −</p>

In [144]:
# create a variable
P = "Paul is great"
print type(P)
print P

# remove variable from interpreter space
del P
print P # This will throw an error.

<type 'str'>
Paul is great

NameError: name 'P' is not defined

<h3>Case Sensitivity </h3>
<p><mark style="background-color: #FFFF00">Python variables are case sensitive as the example below shows</mark> </p>

In [61]:
A = 1
a = 2
print "A =", A, " a = ", a

A = 1  a =  2

# Dynamic Variable Typing

<mark style="background-color: #FFFF00">Variables in Python are dynamically typed, <b>meaning that the type of data a variable stores isn't fixed.</b> </mark>

So you can assign a number to a variable one line, and a string (the computer-sciency word for text) to it the next. 

For example:

In [62]:
print a
a = "Hello, Python!"
print a

2
Hello, Python!

Note that the old value of a is gone now. Even though you can use the same variable name to refer to different data
doesn't mean that you should. It's generally a good idea to have each variable serve one particular purpose in your
code.

You can't use a variable before you've assigned something to it. Since the computer doesn't know what kind of data
your variable is going to hold, it can't prepare a default value for it. If you get this wrong, the computer will usually tell
you. For example:

In [63]:
print c # We haven't assigned anything to c yet.

NameError: name 'c' is not defined

print c # We haven't This is an error. Errors are annoying, but they're your friends: they let you know that you probably made a mistake, and
hopefully will help you fix it. You'll probably see these a lot. Don't worry, you haven't broken anything.

The error above, for example, is a NameError, and lets you know that you tried to use a variable that wasn't defined.
Naturally, you can also use variables together. For example:
assigned anything to c yet.

In [64]:
# Naturally, you can also use variables together. For example:
a = 7
b = 2
print "a = ", a
print "b = ", b
print "a + b = ", a+b #addition
print "a - b = ", a-b #subtraction
print "a * b = ", a*b #multiplication
print "a / b = ", a/b #Division : Note when both operands Euclidean division is implemented which is the floor(quotient)
print "a % b = ", a%b #Modulo Division : returns the remainder of integer division

a =  7
b =  2
a + b =  9
a - b =  5
a * b =  14
a / b =  3.5
a % b =  1

<h2>Standard Data Types </h2>

<p>
The data stored in memory can be of many types. For example, a person's age is stored as a numeric value and his or her address is stored as alphanumeric characters. Python has various standard data types that are used to define the operations possible on them and the storage method for each of them.    
</p>

<p><mark style="background-color:yellow">Python has five standard data types − </mark> <p>
    
<list>
    <li> Numbers </li>
    <li> String </li>
    <li> List </li>
    <li> Tuple </li>
    <li> Dictionary </li>
</list>

<h2>Python Numbers</h2>

<p><mark style="background-color:yellow">Python supports four different numerical types − </mark> </p>

<list>
    <li> int (signed integers) </li>
    <li> long (long integers, they can also be represented in octal and hexadecimal) </li>
    <li> float (floating point real values) </li>
    <li> complex (complex numbers) </li>
    
</list>

<h2>Representing Numbers in Python Code</h2>

<p>The code below shows the various ways to depict the four number types </p>

In [173]:
# int variables
a = 51924361   # Decimal literal
print type(a)
print a
a = -10  # literal negative
print type(a)
print a
a = -0x11 # Hexadecimal Negative Literal, note "0x" prefix.
print type(a)
print a

# long integer
#Python allows you to use a lowercase l with long, but it is recommended 
#that you use only an uppercase L to avoid confusion with the number 1. 
#Python displays long integers with an uppercase L
a = 51924361L # explicit long integer typing,notice "L" character at end.
print type(a)
print a
a = 123456789012345678 # number so large needs to be a long
print type(a)
print a

a=0xDEFABCECBDAECBFBAEl # hexadecimal long
print type(a)
print a

# float variables
a = 0.0       # decimal point makes a variable is a float.
print type(a)
print a
a=15.20
print type(a)
print a
a = 32.3E18  # scientific notataion. 
print type(a)
print a
a = 314.0e-2 # Pi
print type(a)
print a

# Complex variables
# A complex number consists of an ordered pair of real floating-point numbers denoted by x + yj, where x and y are the 
# real numbers and j is the imaginary unit.  Note you can use upper and lower case J
a =3.14j
print type(a)
print a
a = 9.322e-36j
print type(a)
print a
a=-.6545+0J
print a

<type 'int'>
51924361
<type 'int'>
-10
<type 'int'>
-17
<type 'long'>
51924361
<type 'long'>
123456789012345678
<type 'long'>
4113244760468049623982
<type 'float'>
0.0
<type 'float'>
15.2
<type 'float'>
3.23e+19
<type 'float'>
3.14
<type 'complex'>
3.14j
<type 'complex'>
9.322e-36j
(-0.6545+0j)

<h2> Numbers - Integer and Floating Point </h2>

Uh oh, notice something weird? Everything looks right, except for the last operation. So what's going on?

Python (like most programming languages) doesn't treat all numbers the same. 

There are basically two types ofnumbers, as far as Python is concerned: round numbers (integers) and numbers with values after the decimal point
(floating points, or just floats). 

When you divide an integer by an integer, Python assumes that the result is also going to be an integer and drops any value after the decimal point.

There are a few ways around this: we can tell Python that a variable is a floating point; we can cast it to a floating point,
telling the computer to temporarily treat it like one. For example:

In [65]:
a = 7.0 # By putting the decimal point in, we tell Python that 'a' is a float
b = 2
print "a / b = ", a/b

a / b =  3.5

In [66]:
# explicit variable casting to float
a = 7
b = 2
print "a / b = ", float(a)/b # Temporarily cast a as a float.

a / b =  3.5

<h1> Import <b>future</b>  package to avoid integer division issues.</h1>

If you're worried that this will happen a lot in your program, you can tell Python to automatically check whether division
will result in an int or a float. We do this using the import command, which is how we bring additional features and code
into our program, like this:

In [67]:
# Before:
print 7/2

3.5

In [68]:
from __future__ import division

In [69]:
# After
print 7/2

3.5

<h1>Working with Strings </h2>

<p>Strings in Python are identified as a contiguous set of characters represented in the quotation marks. </p>

<p>Python accepts single ('), double (") and triple (''' or """) quotes to denote string literals, as long as the same type of quote starts and ends the string.</p>

<p>The triple quotes are used to span the string across multiple lines. −</p> 
    

<p>The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator. For example −</p>

In [197]:
word = 'word'                                # String literals can be created with single quotes
sentence = "This is a sentence."             # or double quotes

# Triple quotes can be used to span multiple lines.
paragraph = """This is a paragraph. It is    
made up of multiple lines and sentences."""


print word
print sentence
print paragraph

word
This is a sentence.
This is a paragraph. It is
made up of multiple lines and sentences.

<h2>Parsing strings with <i><mark style="color:BLUE">Split</mark></i> method</h2>

<b><mark style="background-color:YELLOW">The string split method will break apart a string.  It takes the delimeter as an argument and returns a list of strings.</mark><b>

In [105]:
test_string = "A, B, C, D"
split_string = test_string.split(",") # Split on commas
print split_string

['A', ' B', ' C', ' D']

In [106]:
test_string = "A, B, C, D"
split_string = test_string.split(",") # Split on commas
print split_string

['A', ' B', ' C', ' D']

The .split() method takes a string and turns it into a list, dividing it on whatever character you decide. We could also split
the above string on spaces, or any other character:

In [107]:
print test_string
print test_string.split(" ") # Spaces
print test_string.split("C") # The character 'C'

A, B, C, D
['A,', 'B,', 'C,', 'D']
['A, B, ', ', D']

<h2> Joining Strings with <i><mark style="color:BLUE">Join</mark></i> Method </h2>

<p>The <b><mark style="color:BLUE"> join</mark><b> method takes a list of strings and joins them together with a delimiter<p>

In [108]:
print '|'.join(['the', 'cat', 'sat', 'on', 'the', 'mat']) # kinda wierd, the delimeter string is the object that the method is invoked
                                                    # from.
print ' '.join(["I","am","the","walrus"])

the|cat|sat|on|the|mat
I am the walrus

<h2>Using the <b><mark style="color:blue">'+'</mark></b> and  <b><mark style="color:blue">'*'</mark></b> Operators on Strings </h2>

<p>
The plus (+) sign is the string concatenation operator and the asterisk (*) is the repetition operator.
</p>

In [174]:
str1 = "Hello World!"

print str1 * 2      # Prints string two times
print str1 + "TEST" # Prints concatenated string

Hello World!Hello World!
Hello World!TEST

<h1> From datum to data: Lists, Dictionaries, Tuples and Sets </h1>

This is a course on data analysis, and most of the time the data you'll want to analyze will be more than just one or two
numbers. If we're dealing with 100 (or 100,000) values, we don't want to create separate variables for each of them.

<mark style="background-color: #FFFF00">There are four standard data types which can store multiple values together:</mark>
<list>
<li> <b> lists </b> (similar to other languages' arrays) </li>

<li> <b> dictionaries </b>(hash maps or hash tables, in other languages). </li>
<li> <b> tuples </b> (Tuples function very similarly to lists with one important exception. They are immutable - they cannot be changed once created.) </li>
<li> <b> sets </b> (like lists but provides quick implementation of membership operations like 'in'). </li>
</list>

<h2> Lists </h2>

Lists simply store a set of values in order, like this:

In [70]:
 some_numbers = [1, 5, 4, 3, 0] # Some meaningless numbers.

<h3> Accessing Individual List Elements </h3>

<mark style="background-color: #FFFF00">You can access specific values within the list using square brackets. </mark>

<b> Note that list positions start counting from 0,</b> so if
your list is 5 items long (like the one above), the positions run from 0 to 4. So:

In [71]:
print "First item in the list:", some_numbers[0]
print "Third item in the list:", some_numbers[2]
print "Last item in the list:", some_numbers[4]
print "First Item from end of list", some_numbers[-1] # negative indexing starts from the end of the list

First item in the list: 1
Third item in the list: 4
Last item in the list: 0
First Item from end of list 0

<h2>Using the <b><mark style="color:blue">'+'</mark></b> and  <b><mark style="color:blue">'*'</mark></b> Operators on Lists </h2>

<p>
The plus (+) sign is the list concatenation operator, and the asterisk (*) is the repetition operator. For example −

In [189]:
list1 = ['A', 'B','C']
list2 = ["as","easy","as"]
list3 = [1,2,3]
print list1 + list2 + list3 # concatenates the three lists into one list.


print list1*3  # prints list 3 times

['A', 'B', 'C', 'as', 'easy', 'as', 1, 2, 3]
['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C']

<h2>Seaching a list for a particular value - <mark style="color:BLUE">Index</mark> Method and <mark style="color:BLUE"> In</mark> Operator</h2>

<p><mark style="background-color: #FFFF00"> You can use the <b>Index</b> method to find the index of an element in a list</mark> </p>

In [72]:
a = ["alpha","bravo","Charlie","Delta","Echo"]
print a
print "The index of the element in list a with value of 'Charlie' is ", a.index("Charlie")
a.append("bravo")
print a

# when value appears multiple times, index returns first value
print "The index of the element in list a with value of 'bravo' is ", a.index("bravo")

['alpha', 'bravo', 'Charlie', 'Delta', 'Echo']
The index of the element in list a with value of 'Charlie' is  2
['alpha', 'bravo', 'Charlie', 'Delta', 'Echo', 'bravo']
The index of the element in list a with value of 'bravo' is  1


<p> <mark style="background-color: #FFFF00"> You can test to see if list contains an element with a given value using the <b>In</b> operator.</mark> </p>

In [73]:
print "Is 'alpha' in the list a? ", ('alpha' in a)
print "Is 'gamma' in the list a? ", ('gamma' in a)

Is 'alpha' in the list a?  True
Is 'gamma' in the list a?  False

In [74]:
# the index method of a list will return the index of the FIRST value it sees.
# Notice below 
a = ["bravo","Charlie","delta","Echo","alpha","alpha" ]
i = a.index("alpha")
print i, type(i)

4 <type 'int'>

<h3> Accessing List Elements outside of bounds </h3>

<p>If you try to access a position greater than the length of the list, you'll get an <b><mark style="color:RED">error</mark></b>:
</p>

In [75]:
print "The number of elements in list some_numbers is ", len(some_numbers)
    
print some_numbers[10]

The number of elements in list some_numbers is  5

IndexError: list index out of range

<h2> Lists - Using the colon operator <mark style="color:BLUE">":"</mark> to create subsets of a List</h2>

You can also create a new list by subsetting another list, using the colon : symbol. Think of it as taking values from
position : up to position.

In [76]:
first_list = [1, 4, 5, 7, 12, 15]
print first_list

[1, 4, 5, 7, 12, 15]

In [77]:
second_list = first_list[2:4]
print second_list

[5, 7]


<p> Notice in the output above, we specified 2:4, which returned elements of second_list starting at offset 2 and only going up to offset 3.  In my mind that's wrong but that's how it works.  The first element of a ":" operation is inclusive but the last is not </p>

In [78]:
# sub ranging of lists with out of range last variable will not generate "list index out of range error"
# it will just go to end of list
third_list = first_list[4:100]
print third_list

[12, 15]

In [79]:
# Nor will specifiying a bad starting range, it just results in a empty list
fourth_list = first_list [100:101]
print fourth_list

# you can create an empty list with the list() function
fifth_list = list()
print "type of fifth_list is " + str( type(fifth_list))
print fifth_list

# you can also create an empty list like this
sixth_list = []
print "type of sixth_list is " + str( type(sixth_list))
print sixth_list

[]
type of fifth_list is <type 'list'>
[]
type of sixth_list is <type 'list'>
[]

If you leave out the number before or after the colon, it indicates 'from the beginning' or 'to the end', respectively. So:

In [80]:
# Omitting starting range => from list beginning, i.e. element 0.

print first_list[:4]      
# is the same as
print first_list [0:4]

[1, 4, 5, 7]
[1, 4, 5, 7]

In [81]:
# omitting ending range same as specifying last element of list
print first_list[3:]
# is the same as
print len(first_list)
print first_list[3:len(first_list)]

[7, 12, 15]
6
[7, 12, 15]

<h3> Python Lists can store multiple data item types </h3>

Lists can store data of all different types together. For example, the list below has an integer, a float and a string:

In [82]:
mixed_list = [1, 1.0, "One"]
print mixed_list

[1, 1.0, 'One']

<h3> Python Lists can be ragged and mixed</h3>

In [83]:
# this list has an array and a string as it's elements
mixed_list_2 = [[1,2,3],"Hello"]
print mixed_list_2

[[1, 2, 3], 'Hello']

<h2> Lists of Lists</h2>

Lists can even store other lists. This will be important later, since it's how we can put together multi-dimensional objects
like tables and matrices.

In [84]:
first_row = [1, 2]
second_row = [3, 4]
table = [first_row, second_row]
print table # a list with two elements, each of which is a list with two elements.
print "Position (0)", table[0]    # row 0, which is a list with elements [1,2]
print "Position (1)", table[1]    # row 1, whichi is a list with elements [3,4]
print "Position (1,0)", table[1][0] #row,1 which is a list [3,4], and the first element of that list
print "Position (0,1)", table[0][1]

[[1, 2], [3, 4]]
Position (0) [1, 2]
Position (1) [3, 4]
Position (1,0) 3
Position (0,1) 2

<h2> Lists of higher dimensions </h2>

Note that the names 'row' and 'table' are arbitrary -- all table really is, is a list of lists. 

When we write table[1] we are
getting the second entry in the list, which in this case just happens to be a list as well. 

So table[1][1] just means 'The
second entry in the second entry in the list table'.

We can also create these lists directly, and nest them as deep as we want. Below, I create a 3 X 2 X 2 table:

In [85]:
 # Notice that we can put line-breaks when they're enclosed in brackets
threedee = [ [ [1,2], [3, 4] ],
[[5, 6], [7, 8] ],
[ [9, 10], [11, 12] ]
]


print threedee[1]
print threedee[1][1]
print threedee[1][1][1]

[[5, 6], [7, 8]]
[7, 8]
8

<h2> Ragged Lists </h2>

Since list aren't true arrays, each dimension of an array need not be equal.  Below the second dimension of this list has a list of length 2 
while the first is of length 3.

In [86]:
# this is a two dimensional ragged array
ragged_array = [[1,2,3],[4,5]]
print ragged_array

[[1, 2, 3], [4, 5]]

<h2> List <mark style="color:BLUE">Append</mark > Method </h2>

We can add items to the end of a list using the .append(...) operation, like this:

In [87]:
my_list = [1, 2, 3]
my_list.append(4)
print my_list

[1, 2, 3, 4]

<h2>The Dot Operation for Accessing Object Methods</h2>

<p><mark style="background-color: #FFFF00">Notice the syntax append uses: variable dot operation. The operation following the dot is called a method.</mark> <p>

<p>We'll see
this pretty often in Python (and elsewhere). It indicates an operation (method) associated with a particular variable of a
particular type. </p>

In this case, all list variables have an append method associated with them.

(Advanced note: technically, lists (like almost everything else in Python) are objects, with append as one of their
methods. If you don't know what that means, don't worry about it.)

<h2> Use the <mark style="color:BLUE"> Len</mark> operator to determine length of a a list </h2>
<p>
<p> <mark style="background-color: #FFFF00">We can count the number of values in a list using <b>len</b>, like this:</mark><p>

In [88]:
# figure out the number of elements in a list
print len(my_list)

4

Pop quiz: What do you think the result of len(threedee) will be?

In [89]:
#First look at threedee list
print threedee

[[[1, 2], [3, 4]], [[5, 6], [7, 8]], [[9, 10], [11, 12]]]

In [90]:
# since this is a three dimensional array, count number of commas after ]] and add 1 should give lengh 2+1 
print len(threedee)

3

As far as Python is concerned, threedee has only 3 values; each of those values happens to be another list. So:

In [91]:
print threedee[0]
print len(threedee[0])

[[1, 2], [3, 4]]
2

In [92]:
print len(threedee[0][0])

2


<mark style="background-color: #FFFF00"> The <b>len</b> works on lists, dictionaries, sets, and tuples, but not simple variables like integers.</mark>

In [93]:
print "The length of list [1,2,3,4] is ", len([1,2,3,4])                                              #len works on lists
print "The length of tuple (1,2,3,4) is ", len((1,2,3,4))                                             # len works on tuples
print "The length of dictionary {1:'A', 2:'B', 3:'C', 4:'D'} is ", len ({1:'A', 2:'B', 3:'C', 4:'D'}) # len works on dictionaries
print "The length of set [1,2,3,4] is ", len (set([1, 2, 3,4]))                                       # len works on sets

# below gives an error because len operator gives length of a list type object, not an integer, which theedee[0][0][0] is
print len(threedee[0][0][0])

The length of list [1,2,3,4] is  4
The length of tuple (1,2,3,4) is  4
The length of dictionary {1:'A', 2:'B', 3:'C', 4:'D'} is  4
The length of set [1,2,3,4] is  4

TypeError: object of type 'int' has no len()

<h2>Generating a List of Numbers with <mark style="color:BLUE">RANGE</mark> funciton</h2>

In [94]:
# Note: the range command gives you a list of numbers between the specified end-points, like this:
print range(10)
print range(2,7) # range includes first argument upto but not including second.  Just like sub range notation [a:b]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]

<h1> Dictionaries </h1>

<b><mark style="background-color:YELLOW">Dictionaries are a type of data structure that associates unique keys with values.</mark> </b> Both keys and values can be any type
of data, with the exception that the key cannot be mutable, or subject to change. A number could be a key, for example,
but not a variable.

<b><mark style="background-color:YELLOW">Dictionaries are declared with {curly braces}, but are accessed with [square brackets], like this:</mark> </b>

In [95]:
#declare a dictionary called number_names
number_names = {"One": 1, "Two": 2} # The string 'One' is the key, and integer 1 the value.
print number_names["One"]

1

The traditional example used to explain dictionaries is a telephone book, mapping each unique name to a number:

In [96]:
phone_book = {} # Let the computer know that phone_book is a dictionary, but don't add any values yet.
phone_book["Alice"] = "555-123-4567"
phone_book["Bob"] = "555-987-6543"

In [97]:
# Access a value of a dictionary by
print phone_book["Alice"]

555-123-4567

In [98]:
print phone_book

{'Bob': '555-987-6543', 'Alice': '555-123-4567'}

<h3> Adding an element to an dictionary after delcaration </h3>

<b><mark style="background-color:YELLOW"> Unlike with lists, we don't need a special command to add data. If we assign a value to a new key, it's automatically
    added to the dictionary.</mark> </b> If we assign a new value to an existing key, it overwrites it. so:

In [99]:
print phone_book
#add Carol to phone book.  No special operation needed.
phone_book["Carol"] = "555-314-1519"
print phone_book
# UPDATE carols phone number.  Changes the entry above.
phone_book["Carol"] = "555-271-8281"
print phone_book

{'Bob': '555-987-6543', 'Alice': '555-123-4567'}
{'Bob': '555-987-6543', 'Alice': '555-123-4567', 'Carol': '555-314-1519'}
{'Bob': '555-987-6543', 'Alice': '555-123-4567', 'Carol': '555-271-8281'}

Notice that the dictionary items (key-value pairs) aren't displayed in any particular order -- in fact, they aren't even
displayed in the order in which we added them. <b><mark style="background-color:YELLOW">Unlike lists, dictionaries are inherently unordered.<mark></b>

<h3> Dictonary methods: <b> <mark style="color:blue">Keys</mark> </b>, <b><mark style="color:blue"> Items <mark></b> and <b> <mark style="color:blue">Values </mark></b> </h3> 

We can get all the keys and all the values in a dictionary using .keys() and .values() and .items(), like this:

In [100]:
print phone_book.keys()     # keys returns a list of the dictionary key values
print phone_book.values()   # values returns a list of the dictionary values 
print phone_book.items()    # items returns tuples with the first element of tuple being the key, 
                            # and the second element of the tuple being the value associated with the key.

['Bob', 'Alice', 'Carol']
['555-987-6543', '555-123-4567', '555-271-8281']
[('Bob', '555-987-6543'), ('Alice', '555-123-4567'), ('Carol', '555-271-8281')]

Notice that these methods return lists, which we can use just like the lists we created above.

In [101]:
# since the keys method returns a list, we can use square braket operate to select a specific element
print phone_book.keys()[1]

Alice

<h3> Python Lists can store multiple data item types </h3>

Lists can store data of all different types together. For example, the list below has an integer, a float and a string:

In [102]:
some_numbers = [1, 5, -2, 18, 6.312375]
if 2 in some_numbers:
    print "Yes"
else:
    print "No."
if 5 in some_numbers:
    print "And yes."

No.
And yes.

In [103]:
some_values = {"One": 1, "Two": 2, "Three": 3}
if "One" in some_values:  # When looking inside dictionares we are looking at the Keys not the Values.
    print "Yes."
    
if 1 in some_values:
    print "And yes."
else:
    print "But no"

Yes.
But no

<h1>Tuples</h1>
<p> A <b><mark style="color:BLUE">tuple</mark></b> is an immutable list. A tuple can not be changed in any way once it is created. <p>

<h2> Creating a tuple </h2>

<p><mark style="background-color:YELLOW"> A <b>tuple</b> is defined in the same way as a <b>list</b>, except that the whole set of elements is enclosed <b>OPTIONALLY</b> in parentheses instead of square brackets.</mark> </p>

In [109]:
t1 = (1,2,3)  # Create a tuple
print t1
print "t1 is type ",type(t1)

t2 = 4,"Unicorn",6  #  When creating a tuple, the parenthesis are optional, also like lists, tuples don't need to be of same type
print t2
print "t2 is type ", type(t2)

(1, 2, 3)
t1 is type  <type 'tuple'>
(4, 'Unicorn', 6)
t2 is type  <type 'tuple'>

<h2> Accessing <mark style="color:BLUE">Tuple</mark> Elements </h2>

<p><mark style="background-color:YELLOW"> The elements of a <b>tuple</b> have a defined order, just like a <b>list</b>. 
    <b>Tuples</b> indices are zero-based, just like a <b>list</b>, so the first element of a non-empty <b>tuple</b> is always t[0].</mark> </p>

In [110]:
print "The first element of t1 is ", t1[0]
print "The second negative element of t2 is ", t2[-2]  # Negative indices count from the end of the tuple, just as with a list.
t3 = "a","b","c","d","e"
print "Slice 2:3 of list t3 is ", t3[2:4]

The first element of t1 is  1
The second negative element of t2 is  Unicorn
Slice 2:3 of list t3 is  ('c', 'd')

In [111]:
if "Unicorn" in t2:              # You can use the "in" operator to see if there is a matching element value in a tuple.
    print "I found a Unicorn"
    print "The unicorn is at ", t2.index("Unicorn") #You can find elements in a tuple using the "index" method
    
for i in t2:
    print "Are you a Unicorn?"
    if i =="Unicorn":
        print "Yep"
    else:
        print "Nope"

I found a Unicorn
The unicorn is at  1
Are you a Unicorn?
Nope
Are you a Unicorn?
Yep
Are you a Unicorn?
Nope

<h2> <mark style="color:blue">Tuples</mark> are Immutable </h2>
<p><mark style="background-color:YELLOW">Unlike <b>lists</b>, once you create a <b>tuple</b>, you can't add, delete or modify elements.</mark></p>

In [112]:
t2[1] = "rainbow"
t2.append("rainbow") # you can't add elements to a tuple. Tuples have no append or extend method.
t2.remove(4) # You can't remove elements from a tuple. Tuples have no remove or pop method.

TypeError: 'tuple' object does not support item assignment

In [113]:
t2.remove(4) # You can't remove elements from a tuple. Tuples have no remove or pop method.

AttributeError: 'tuple' object has no attribute 'remove'

<h2> Why use Tuples?</h2>

<p>Since tuples have less flexibility than lists, why would you want to use them?<p>

<ul>
<li>Tuples are faster than lists. If you're defining a constant set of values and all you're ever going to do with it is iterate through it, use a tuple instead of a list.</li>
<li>It makes your code safer if you “write-protect” data that does not need to be changed. Using a tuple instead of a list is like having an implied assert statement that shows this data is constant, and that special thought (and a specific function) is required to override that.</li>
<li>
Remember that I said that dictionary keys can be integers, strings, and “a few other types”? Tuples are one of those types. <mark style="background-color:yellow">Tuples can be used as keys in a dictionary, but lists can't be used this way.</mark>Actually, it's more complicated than that. Dictionary keys must be immutable. Tuples themselves are immutable, but if you have a tuple of lists, that counts as mutable </li>
<li>
Tuples are used in string formatting, as you'll see shortly.
</li>

</ul>

<h1> Convert a List to a Tuple </h1>

<p>A list can created from a tuple using the tuple() built in function.  In fact tuple() can convert any iterable (list, string, set, dictionary) to a tuple.</p>

In [128]:
# create a list
alist = ["A","B","C"]
print alist
print "type alist =", type(alist)

# creat a tuple from list
atuple=tuple(alist)
print atuple
print "type atuple =", type(atuple)

['A', 'B', 'C']
type alist = <type 'list'>
('A', 'B', 'C')
type atuple = <type 'tuple'>

<h1> Assigning Mutltiple Values to several Different Variables  All at Once </h1>

<p> You can use the following syntax to assign from a list of values to a list of variables <p>

In [115]:
# This is sort of like declaring an enumerated type.
MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY, SATURDAY, SUNDAY = range(7)
print "MONDAY = ", MONDAY
print "TUESDAY = ", TUESDAY
print "WEDNESDAY = ", WEDNESDAY
print "THURSDAY = ", THURSDAY
print "FRIDAY = ", FRIDAY
print "SATURDAY = ", SATURDAY
print "SUNDAY = ", SUNDAY

# An alternative syntax is to put the values in paranthesis
(ALPHA,BETA,GAMMA) = ["A","B","C"]
print ALPHA, BETA, GAMMA

MONDAY =  0
TUESDAY =  1
WEDNESDAY =  2
THURSDAY =  3
FRIDAY =  4
SATURDAY =  5
SUNDAY =  6
A B C

<h1> Assigning Single Value to Multiple Variables </h1>

<p>Python allows you to assign a single value to several variables simultaneously. For example − </p>

In [140]:
v1 = v2 = v3 = 1
print v1, v2, v3

1 1 1

<h2>Sets</h2>
<p>
Lists efficiently store an ordered collection of elements, but sometimes we need a collection that can quickly determine membership. (More about what "quickly" actually means later). A set supports this case efficiently. However, in exchange for this efficiency it does not support duplicate values, and does not remember the order in which things were added.
To return to our example, presume we wanted to keep track of the first names of everybody who provides a rating of 1.5 or lower:</p>

In [138]:
book_ratings_1 = {"Paul":1.0 , "John":3.0, "Brian":4.0}
book_ratings_2 =  {"Mark":2.0 , "Chris":2.5, "Brian":4.0, "Paul": 2.2}

low_raters = set() # creates an empty set

for name in book_ratings_1:
    if book_ratings_1[name] < 2.5:
        low_raters.add(name)                  # add method of set operator adds element to set

for name in book_ratings_2:
    if book_ratings_2[name] < 2.5:
        low_raters.add(name)                  # add method of set operator adds element to set

        
print type(low_raters)
print low_raters

# Notice list only has Paul in it once even though he appears as a low rater in each list.
for name in low_raters:
    print name + " is a low rater"
    
# check membership for a set using in.
if "Paul" in low_raters:
    print "Paul is a low rater"
else :
    print "Paul is not a low rater"

if "John" in low_raters:
    print "John is a low rater"
else :
    print "John is not a low rater"

<type 'set'>
set(['Paul', 'Mark'])
Paul is a low rater
Mark is a low rater
Paul is a low rater
John is not a low rater

<h2>Converting a List to a Set</h2>
<p>You can create a set from a list using the built-in function set() </p>

In [139]:
# create a list
a=[1,2,3,2]
print a
# create a set from a list
b=set(a)
print type(b)
print b

[1, 2, 3, 2]
<type 'set'>
set([1, 2, 3])

<h2>Data Type Conversion</h2>

<p>
Sometimes, you may need to perform conversions between the built-in types. To convert between types, you simply use the type name as a function.
</p>

<p>There are several built-in functions to perform conversion from one data type to another. These functions return a new object representing the converted value.</p>

<table>
<tr>
    <td> int(x [,base])</td>  <td>Converts x to an integer. base specifies the base if x is a string.</td>
 </tr>	

<tr>
    <td>long(x [,base] )</td>  <td> Converts x to a long integer. base specifies the base if x is a string.</td>
</tr>

<tr>
    <td>float(x)</td> <td>Converts x to a floating-point number.</td>
</tr>

<tr>
    <td>complex(real [,imag])</td> <td>Creates a complex number.</td>
</tr>

<tr>
    <td>str(x)</td> <td>Converts object x to a string representation.</td>
</tr>

<tr>
    <td>repr(x)</td> <td> Converts object x to an expression string. </td>
</tr>
    	
<tr>
    <td>eval(str)</td> <td> Evaluates a string and returns an object. </td>
</tr>

<tr>
    <td> tuple(s) </td> <td>Converts s to a tuple. </td>
</tr>

<tr>
    <td> list(s) </td>  <td> Converts s to a list. </td>
</tr>

<tr> 
    <td> set(s) </td> <td> Converts s to a set. </td>
</tr>

<tr>
    <td> dict(d) </td> <td> Creates a dictionary. d must be a sequence of (key,value) tuples. </td>
<tr>

<tr>
    <td> frozenset(s) </td> <td> Converts s to a frozen set. </td>
</tr>

<tr>
    <td>chr(x) </td> <td> Converts an integer to a character. </td>
</tr>

<tr>
    <td> Unichr(x) </td> <td> Converts an integer to a Unicode character. </td>
</tr>

<tr>
    <td> ord(x) </td> <td> Converts a single character to its integer value. </td>
</tr>

<tr>
    <td>hex(x) </td> <td>Converts an integer to a hexadecimal string. </td>
</tr>
  
<tr>
    <td>oct(x)</td> <td> Converts an integer to an octal string. </td>
</tr>
</table>

<h1>Multiple Statement Groups as Suites</h1>

<p>A group of individual statements, which make a single code block are called <b><mark style="color:blue">suites</mark></b> in Python. Compound or complex statements, such as <b><mark style="color:blue">if</mark></b>, <b><mark style="color:blue">while</mark></b>, <b><mark style="color:blue">def</mark></b>, and <b><mark style="color:blue">class</mark></b> require a <b><mark style="color:blue">header line </mark></b>and a <b><mark style="color:blue">suite</mark></b>.<p>

<b><mark style="color:blue">Header lines</mark></b> begin the statement (with the keyword) and terminate with a colon ( : ) and are followed by one or more lines which make up the <b><mark style="color:blue">suite</mark></b>. For example −

In [205]:
a=1
b=2
if a==b :                         # header line 1
   print "a does equal b"         # Suite 1
   print "isn'that interesting"
else  :                           # header line 2   
   print "a doesn't equal b"      # Suite 2
   print "how sad"

a doesn't equal b
how sad